/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Open+Sans:wght@300&display=swap');



/* Styles for the body */

body {

    font-family: 'Open Sans', sans-serif;
	color: #202030;
	background-color: #a56e5f;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #e4b3a6; 
	font-family: 'Michroma', sans-serif;

}

.resume-main {
	background-color: #fffefc;
	
}

.resume-aside {
	background-color: #fff0e0;
	
}

.description-font {
	font-style: italic;
	
}

h2 {
	font-family: 'Michroma', sans-serif;
	color:#a56e5f;
}

h4 {
	font-weight: bold;
	
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #a56e5f;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

.language-progress {
	background-color: #e4b3a6 !important;
	
}

.position-absolute {
	font-weight: bold !important;
}
.language-level {
	border-color: #a56e5f !important;
}
/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
